# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goland IDE settings and files
.idea/
*.iml

# IntelliJ IDE settings and files
*.ipr
*.iws
*.idea/

# VS Code settings and files
.vscode/

# Go module files
go.sum

# Dependencies
/vendor/

# Logs
*.log

# Environment variables file
# .env

# Build artifacts
/bin/
/build/
/dist/

# Temporary files
*.tmp
*.temp
*.swp

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Linux files
*~

# Docker-related files
docker-compose.override.yml
data/db/
docker-compose.yml
